<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="style.css" />
        <title>{% block title %}{% endblock %} - evd1ser</title>
    {% endblock %}
</head>
<body>
<header>
        <a href="/logout">logout</a>
</header>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright {{ "now"|date('Y') }} by evd1ser.
    {% endblock %}
</div>
</body>
</html>
